
<center><h3>Welcome to </h3><h1 style="color:purple">DOJO ACTIVITY CENTER</h1></center>
<hr>
<div class="row">
    <div class="col-5">
        <partial name="Registration"/>
    </div>
    <div class="col-2"></div>
    <div class="col-5">
        <partial name="Login"/>
    </div>
</div>